#post-body  .cac-cc-metabox {
	padding-left: 14px;
}

#post-body  .cac-cc-metabox::before {
	content: "\f313";
	left: -4px;
	position: relative;
	top: -2px;
}

.cac-cc-metabox a[rel="license"] {
	vertical-align: middle;
}

.cac-cc-metabox a.edit-license span[aria-hidden] {
	margin-left: 5px;
}

#cac-cc-block-editor .misc-pub-section {
	padding: 6px 0 0 0;
}

#cac-cc-block-editor a.edit-license span[aria-hidden] {
	position: absolute;
	right: 15px;
	text-decoration: underline;
}

@media screen and ( max-width: 782px ) {
	.cac-cc-metabox	a[rel="license"] {
		float: none;
	}		
}